body {
    background-color: rosybrown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    margin-top: 20px;
    padding: 30px 20px;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

p {
    text-align: right;
}

.form-control {
    text-align: center;
    margin-bottom: 20px;
}

.form-control label {
    text-align: start;
    display: flex;
    margin: 5px;
}

.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    /* justify-content: flex-start; */
    width: auto;
}

button {
    color: #000;
    background-color: rgb(255, 255, 255);
    font: inherit;
    border-bottom: 4px solid #000;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
    border-right: 0.1px solid black;
    border-radius: 6px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    display: inline;
    width: max-content;
    margin: 10px 5px;
    padding: 8px 10px;
}

button:hover {
    /* color: white;
    background-color: #888; */
    /* transition-duration: 0.3s; */
    transform: translateY(-5px);
    transition: transform 0.3s ease;

}